.filter {
  display: flex;
  justify-content: center;
}

.filter__button {
  padding: 0.5rem;
  border: none;
}

.filter__input {
  padding: 0.5rem;
  border: none;
}

.filter__input:focus{
  outline: none
}
