.user {
  display: flex;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 1rem;
  text-align: center;
  width: 300px;
  max-width: 300px;
  overflow-wrap: break-word;
}

.table thead {
  background-color: rgba(24, 189, 24, 0.486);
}

.table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tr.banned {
  background-color: rgba(255, 0, 0, 0.438); 
}

.table-action-buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.table-action-buttons button {
  padding: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
}

.table-action-button--delete {
  background-color: rgba(255, 0, 0, 0.527);
}

.table-action-button--delete:hover {
  background-color: rgba(255, 0, 0, 0.637);
}

.table-action-button--ban {
  background-color: rgba(255, 166, 0, 0.548);
  transition: transform 0.1 s ease-out;
}

.table-action-button--ban:hover {
  background-color: rgba(255, 166, 0, 0.658);
  transform: scale(1.1);
}

.table-action-button--ban:active {
  transform: scale(1);
}

.table-action-buttons button svg {
  font-size: 1.5rem;
}
