.user {
  display: flex;
}

.user-page__delete-dialog {
  padding: 2rem;
  background-color: rgb(235, 235, 235);
  z-index: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 1rem;
  text-align: center;
  min-width: 300px;
  max-width: 300px;
  overflow-wrap: break-word;
}

.table thead {
  background-color: rgba(24, 189, 24, 0.486);
}

.table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tbody tr:hover {
  background-color: #dadada44;
}

.table-action-buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.table-action-buttons button {
  padding: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
}

.table-action-button--delete {
  background-color: rgba(255, 0, 0, 0.527);
}

.table-action-button--delete:hover {
  background-color: rgba(255, 0, 0, 0.637);
}

.table-action-buttons button svg {
  font-size: 1.5rem;
}
